<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>75025166880-ub0l1r249ob0814e3unlqvnt4mba91ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75025166880-ub0l1r249ob0814e3unlqvnt4mba91ev</string>
	<key>API_KEY</key>
	<string>AIzaSyBn_aFJMS4wNOw4jRsoawCHFj34ZLjgR4c</string>
	<key>GCM_SENDER_ID</key>
	<string>75025166880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kantina.iosapp</string>
	<key>PROJECT_ID</key>
	<string>kantina-93a93</string>
	<key>STORAGE_BUCKET</key>
	<string>kantina-93a93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75025166880:ios:82aae5fa99076697</string>
	<key>DATABASE_URL</key>
	<string>https://kantina-93a93.firebaseio.com</string>
</dict>
</plist>