<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebitList</key>
	<dict>
		<key>total_amount</key>
		<string>total_amount</string>
		<key>commission</key>
		<string>commission</string>
		<key>paymentid</key>
		<string>paymentid</string>
		<key>amount</key>
		<string>amount</string>
		<key>date</key>
		<string>date</string>
		<key>payment_type</key>
		<string>payment_type</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>receiver_name</key>
		<string>receiver_name</string>
		<key>receiver_id</key>
		<string>receiver_id</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>Receiver</key>
	<dict>
		<key>amount</key>
		<string>amount</string>
		<key>balance</key>
		<string>balance</string>
		<key>commission</key>
		<string>commission</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>free_user_id</key>
		<string>free_user_id</string>
		<key>free_user_pass</key>
		<string>free_user_pass</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>main_free_user_id</key>
		<string>main_free_user_id</string>
		<key>paymentid</key>
		<string>paymentid</string>
		<key>paymenttype</key>
		<string>paymenttype</string>
		<key>receiver_fname</key>
		<string>receiver_fname</string>
		<key>receiver_id</key>
		<string>receiver_id</string>
		<key>receiver_lname</key>
		<string>receiver_lname</string>
		<key>receiver_name</key>
		<string>receiver_name</string>
		<key>total_amout</key>
		<string>total_amout</string>
	</dict>
	<key>User</key>
	<dict>
		<key>type</key>
		<string>type</string>
		<key>provider</key>
		<string>provider</string>
		<key>phone</key>
		<string>phone</string>
		<key>name</key>
		<string>name</string>
		<key>last_mod</key>
		<string>last_mod</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>entity_id</key>
		<string>id</string>
		<key>fcmRegId</key>
		<string>fcmRegId</string>
		<key>email</key>
		<string>email</string>
		<key>date_add</key>
		<string>date_add</string>
		<key>active</key>
		<string>active</string>
	</dict>
	<key>QuestionAnswer</key>
	<dict>
		<key>is_free_phone</key>
		<string>is_free_phone</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>question</key>
		<string>question</string>
		<key>answer</key>
		<string>answer</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
	</dict>
	<key>TranzilaToken</key>
	<dict>
		<key>is_save_card</key>
		<string>is_save_card</string>
		<key>token</key>
		<string>token</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>expdate</key>
		<string>expdate</string>
		<key>card</key>
		<string>card</string>
	</dict>
	<key>Payment</key>
	<dict>
		<key>paymentid</key>
		<string>paymentid</string>
		<key>payment_type</key>
		<string>payment_type</string>
		<key>receiver_name</key>
		<string>receiver_name</string>
		<key>receiver_id</key>
		<string>receiver_id</string>
		<key>entity_id</key>
		<string>id</string>
		<key>amount</key>
		<string>amount</string>
		<key>status</key>
		<string>status</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>total_amount</key>
		<string>total_amount</string>
		<key>commission</key>
		<string>commission</string>
	</dict>
	<key>Commission</key>
	<dict>
		<key>commission_amount</key>
		<string>total_amount</string>
	</dict>
	<key>CommissionCalculation</key>
	<dict>
		<key>z2</key>
		<string>Z2</string>
		<key>z1</key>
		<string>Z1</string>
		<key>y</key>
		<string>Y</string>
		<key>x</key>
		<string>X</string>
		<key>s</key>
		<string>S</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>f</key>
		<string>F</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
	</dict>
	<key>UserList</key>
	<dict>
		<key>main_free_user</key>
		<string>main_free_user</string>
		<key>entity_id</key>
		<string>id</string>
		<key>user_id</key>
		<string>user_id</string>
		<key>free_receiver_fname</key>
		<string>free_receiver_fname</string>
		<key>free_receiver_lname</key>
		<string>free_receiver_lname</string>
		<key>free_user_id</key>
		<string>free_user_id</string>
		<key>password</key>
		<string>password</string>
		<key>phone</key>
		<string>phone</string>
		<key>balance</key>
		<string>balance</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
	</dict>
	<key>FreePhoneDeposit</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>login_user</key>
		<string>login_user</string>
		<key>user_id</key>
		<string>user_id</string>
		<key>name</key>
		<string>name</string>
		<key>tranzilapara</key>
		<string>tranzilapara</string>
		<key>transaction_id</key>
		<string>transaction_id</string>
		<key>amount</key>
		<string>amount</string>
		<key>commission</key>
		<string>commission</string>
		<key>total_amount</key>
		<string>total_amount</string>
		<key>phone</key>
		<string>phone</string>
		<key>seller_id</key>
		<string>seller_id</string>
		<key>seller_pass</key>
		<string>seller_pass</string>
		<key>paymentid</key>
		<string>paymentid</string>
		<key>is_pay</key>
		<string>is_pay</string>
		<key>status</key>
		<string>status</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
	</dict>
	<key>FreePhoneUserReceiver</key>
	<dict>
		<key>balance</key>
		<string>balance</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>entity_id</key>
		<string>id</string>
		<key>free_receiver_fname</key>
		<string>free_receiver_fname</string>
		<key>free_receiver_lname</key>
		<string>free_receiver_lname</string>
		<key>free_receiver_name</key>
		<string>free_receiver_name</string>
		<key>free_user_id</key>
		<string>free_user_id</string>
		<key>free_user_pass</key>
		<string>free_user_pass</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
	</dict>
	<key>FreePhoneCommission</key>
	<dict>
		<key>total_amount</key>
		<string>total_amount</string>
	</dict>
	<key>FreePhoneCommissionCalculation</key>
	<dict>
		<key>entity_id</key>
		<string>_id</string>
		<key>dateAdded</key>
		<string>dateAdded</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>s</key>
		<string>S</string>
		<key>z2</key>
		<string>Z2</string>
		<key>z1</key>
		<string>Z1</string>
		<key>w</key>
		<string>W</string>
		<key>f</key>
		<string>F</string>
		<key>y</key>
		<string>Y</string>
		<key>x</key>
		<string>X</string>
	</dict>
</dict>
</plist>
